/* Contenitore generale */
.dashboard-banner-preview-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0;
}

/* Card rettangolare orizzontale */
.dashboard-banner-card-horizontal {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 160px;
}

/* Sezione immagine */
.dashboard-banner-image-wrapper {
    width: 40%;
    max-width: 350px;
    height: 100%;
}

.dashboard-banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
}

/* Sezione testo */
.dashboard-banner-text {
    padding: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard-banner-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.dashboard-banner-description {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  /* Troncamento su una riga */
    align
}
