/* Layout generale della pagina del banner */
/* Nasconde header e footer nella pagina specifica */
.single-banner .site-header, 
.single-banner footer {
    display: none !important;
}

/* Container principale del banner e sezione interna */
.single-banner {
    margin: 100px auto !important;
    width: 960px !important;
}
.single-banner .section {
    padding: 0 !important;
    box-sizing: border-box;
}

/* Stile generale del banner */
.banner {
    max-width: 960px !important;
    box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 10%);
    border-radius: 5px;
    margin: 100px 0;
    overflow: hidden;
}

/* Sezioni interne del banner */
.card-banner {
    padding: 20px 40px;
    position: relative;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

/* Layout delle colonne (responsive) */
.width-60, .width-40 {
    width: 100%;
}

/* Stile del contenuto del banner (testo e margini) */
.title-banner p {
    font-family: 'Poppins', Arial, serif!important;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 40px;
}
.margin-medium-bottom {
    margin-bottom: 40px;
}

/* Pulsanti del banner */
.banner .button {
    padding: 10px 20px;
    border-radius: 100px;
    line-height: 1.85714285714286;
    border: 0;
    text-decoration: none !important;
}
.banner .button:hover {
    filter: brightness(80%);
}

/* Immagini del banner */
.banner img {
    bottom: 0 !important;
}
.banner-image-preview img {
    border: 1px solid #ddd;
    padding: 5px;
    margin-top: 10px;
}
.banner-image {
    max-width: 350px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

/* Utility class per l'ordine e il posizionamento */
.first {
    order: -1;
}
.position-relative {
    position: relative !important;
}
.text-center {
    text-align: center;
}

/* Pulsanti di selezione e rimozione delle immagini */
.select-banner-image {
    margin-top: 10px;
}
.remove-banner-image {
    margin-top: 10px;
    background-color: #f44336;
    color: #fff;
}

/* Media queries per dispositivi piccoli e medi */
@media (max-width: 640px) {
    .margin-medium-bottom {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (max-width: 960px) {
    .card-banner {
        padding: 20px 20px;
    }
}
@media (min-width: 960px) {
    .width-60 {
        width: 58%;
    }
    .width-40 {
        width: 38%;
    }
    .first-m {
        order: -1;
    }
    .last-m {
        order: 99;
        text-align: center;
    }
    .text-left-m {
        text-align: left;
    }
    .text-right-m {
        text-align: right;
    }
}
