/* Layout generale della pagina del banner */
/* Nasconde header e footer nella pagina specifica */
.single-banner .site-header, 
.single-banner footer {
    display: none !important;
}

/* Container principale del banner e sezione interna */
.single-banner {
    margin: 100px auto !important;
    /* width: 960px !important; */
}
.single-banner .section {
    padding: 0 !important;
    box-sizing: border-box;
}

/* Stile generale del banner */
.banner {
    /* max-width: 960px !important; */
    width: auto;
    box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 10%);
    border-radius: 5px;
    margin: 100px 0;
    overflow: hidden;

    transition: width 0.3s ease-in-out;
}

/* Sezioni interne del banner */
.card-banner {
    padding: 20px 40px;
    position: relative;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

/* Layout delle colonne (responsive) */
.width-60, .width-40 {
    width: 100%;
}

/* Stile del contenuto del banner (testo e margini) */
.title-banner p {
    font-family: 'Poppins', Arial, serif!important;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 40px;
}
.margin-medium-bottom {
    margin-bottom: 40px;
}

/* Pulsanti del banner */
.banner .button {
    padding: 10px 20px;
    border-radius: 100px;
    line-height: 1.85714285714286;
    border: 0;
    text-decoration: none !important;
}
.banner .button:hover {
    filter: brightness(80%);
}

/* Immagini del banner */
.banner img {
    bottom: 0 !important;
}
.banner-image-preview img {
    border: 1px solid #ddd;
    padding: 5px;
    margin-top: 10px;
}
.banner-image {
    max-width: 350px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

/* Utility class per l'ordine e il posizionamento */
.first {
    order: -1;
}
.position-relative {
    position: relative !important;
}
.text-center {
    text-align: center;
}

/* Pulsanti di selezione e rimozione delle immagini */
.select-banner-image {
    margin-top: 10px;
}
.remove-banner-image {
    margin-top: 10px;
    background-color: #f44336;
    color: #fff;
}

/* Media queries per dispositivi piccoli e medi */
@media (max-width: 640px) {
    .margin-medium-bottom {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (max-width: 960px) {
    .card-banner {
        padding: 20px 20px;
    }
}
@media (min-width: 960px) {
    .width-60 {
        width: 58%;
    }
    .width-40 {
        width: 38%;
    }
    .first-m {
        order: -1;
    }
    .last-m {
        order: 99;
        text-align: center;
    }
    .text-left-m {
        text-align: left;
    }
    .text-right-m {
        text-align: right;
    }
}



/* Stili generali admin */

/* Sezione comune a tutte le pagine admin */
.wrap h1 {
    font-size: 28px;
    font-weight: bold;
}

/* Sezione specifica per gestione-banner.php */
.gestione-banner-table {
    margin-top: 20px;
}

/* Stili per i pulsanti nelle azioni */
.admin-actions {
    display: flex;
    gap: 5px; 
}

.admin-actions .button {
    padding: 6px 12px; 
}

/* Admin Style Section: Editor Banner */

/* Stile generico per il layout dell'editor */
.editor-banner-layout {
    display: flex !important;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

/* Campi e layout di ogni riga */
.editor-banner-layout .riga-1,
.editor-banner-layout .riga-2,
.editor-banner-layout .riga-3,
.editor-banner-layout .riga-4,
.editor-banner-layout .riga-5,
.editor-banner-layout .riga-6,
.editor-banner-layout .riga-8  {
    display: flex;
    gap: 20px;
}

.editor-banner-layout .riga-7{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.editor-banner-layout div > div {
    flex: 1;
}

.editor-banner-layout label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.editor-banner-layout input[type="text"],
.editor-banner-layout input[type="url"],
.editor-banner-layout textarea {
    width: 100%;
    padding:  2px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Slider specifico */
.editor-banner-layout input[type="range"] {
    width: 50vw;
    height: 8px;
}

/* Selettore immagine */
.editor-banner-layout .select-banner-image {
    margin-top: 10px;
}

/* Slider Output */
.editor-banner-layout .slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editor-banner-layout .slider-container label {
    margin-bottom: 10px;
}

.editor-banner-layout .slider-container .slider-output {
    display: block;
    margin-top: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

/* Pulsanti */
.editor-banner-layout .submit {
    text-align: center;
}

.editor-banner-layout .submit input[type="submit"] {
    background-color: #0073aa;
    color: #fff;
    border: none;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.editor-banner-layout .submit input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Righe con tre campi */
.editor-banner-layout .riga-1 > div,
.editor-banner-layout .riga-2 > div,
.editor-banner-layout .riga-3 > div,
.editor-banner-layout .riga-4 > div,
.editor-banner-layout .riga-5 > div,
.editor-banner-layout .riga-6 > div {
    flex: 1;
    max-width: calc(33.33% - 20px);
}

/* Righe con tre campi */
.editor-banner-layout .riga-8 {
    flex: 1;
    max-width: calc(100% - 20px);
}

/* Righe intere */
.editor-banner-layout .riga-7 {
    flex-direction: column;
    align-items: center;
}

/* .editor-banner-layout .riga-8 > div {
    max-width: 100%;
} */

.editor-banner-layout .riga-7 .slider-container {
    width: 100%;
}
